.Personnage {
    background: #dbdbdb; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #dbdbdb 0%, #ff1a00 96%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #dbdbdb 0%,#ff1a00 96%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #dbdbdb 0%,#ff1a00 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#ff1a00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}